:host {
    position: fixed;
    left: 0;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    display: flex;
}

.dt,
.tmp {
    margin: 0;
    text-align: center;
}

.dt {
    font-style: italic;
}

.tmp {
    font-weight: bold;
}